body > nav {
    font-family: Open Sans Condensed, sans-serif;
    font-size: 3rem;
    color: #909090;
}
a {
    text-decoration: none;
    color: #909090;
}
a:hover {
    cursor: pointer;
    color: #333333;
}
/* ---------------------------------------------*/
.top-bar {
    background-color: #c0c0c0;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #ff0033;
    z-index: 9999;
}
.top-bar > .content {
    color: black;
    font-size: 1rem;
    width: 20rem;
    height: 3rem;
    margin: 0 auto;
}
.top-bar > .content > p {
    font-family: 'Baumans', sans-serif;
    font-weight: bold;
    float: right;
}
.top-bar > .content > .logo {
    height: 3.5rem;
}
/* ---------------------------------------------*/
.portfolio {
    background-image: url('Brian king photo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    height: 60rem;
    overflow: auto;
}
.portfolio > .mainleft,
.portfolio > .mainright {
    width: 36rem;
    height: 3.75rem;
    margin: 0 auto;
    display: inline-block;
    min-width: 37.5rem;
    margin-top: 20rem;
    text-shadow: 1px 1px 2px #ff0033;
}
.portfolio > .mainleft > .pages > li {
    display: inline-block;
}
.portfolio > .mainleft {
    padding-left: 15rem;
}
.portfolio > .mainright  {
    float: right;
}
/* ----------------------------------------------*/
.music {
    margin: 0 auto;
    width: 800px;
    height: 200px;
    background-color: white;
    color: #909090;
    text-align: center;
    text-shadow: 1px 1px 2px #ff0033;
}
img {
    border-radius: 8px;
}

/* ----------------------------------------------*/
.music, .footer {
    display: table;
}
.footer {
    padding-top: 50px;
    width: 350px;
    margin: 0 auto;
}
.footer > .content > .icons > li {
    display: inline-block;
    color: #ff0033;
    padding-right: 50px;
}
.footer > .credits {
    font-size: 12px;
    text-align: center;
}

